<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the Text Analyzer. Enter Your Text Below</h1>

<form action='/analyze' method='get'>
    <textarea name="text" style='margin: 0px; width: 1441px; height: 188px;'>    </textarea>
    <br>

     <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">Upper Case<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charactercounter">Character Counter<br>

    <button type='submit'>Analyze Text</button>

</form>
</body>
</html>